<div class="search">
  <div class="container">
    <div class="search__inner">
      <div class="search__close">
        <button class="search__close-btn">
          <img src="img/icons/close-icon.png" alt="" class="search__close-img">
        </button>
      </div>
      <input type="text" placeholder="Хочу купить" class="search__input">

      <div class="search__result search__result--hidden">

        <a href="product-sofa.html">
          <div class="search__result-item">
            <div class="search__result-left">
              <div class="search__result-prev">
                <img src="img/search_result/ph-1.png" alt="preview">
              </div>
              <h3 class="search__result-name">Диван Plat</h3>
            </div>
            <h3 class="search__result-price">от 89 082 ₽</h3>
          </div>
        </a>

        <a href="product-sofa.html">
          <div class="search__result-item">
            <div class="search__result-left">
              <div class="search__result-prev">
                <img src="img/search_result/ph-2.png" alt="preview">
              </div>
              <h3 class="search__result-name">Диван Play</h3>
            </div>
            <h3 class="search__result-price">от 152 520 ₽</h3>
          </div>
        </a>

        <a href="product-sofa.html">
          <div class="search__result-item">
            <div class="search__result-left">
              <div class="search__result-prev">
                <img src="img/search_result/ph-3.png" alt="preview">
              </div>
              <h3 class="search__result-name">Диван Polo</h3>
            </div>
            <h3 class="search__result-price">от 20 890 ₽</h3>
          </div>
        </a>

        <a href="product-sofa.html">
          <div class="search__result-item">
            <div class="search__result-left">
              <div class="search__result-prev">
                <img src="img/search_result/ph-4.png" alt="preview">
              </div>
              <h3 class="search__result-name">Диван Porto</h3>
            </div>
            <h3 class="search__result-price">от 55 600 ₽</h3>
          </div>
        </a>

      </div>

    </div>
  </div>
</div>