html {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 & 9 */
	filter: alpha(opacity=0); /* newer IE */
	-moz-opacity: 0; /* Older than Firefox 0.9 */
	-khtml-opacity: 0; /* Safari 1.x (pre WebKit) */
	opacity:0; /* (modern browsers) initially sets nothing displayed on page */
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--color-white);
  font-feature-settings: 'pnum' on, 'lnum' on;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}